[submodule "src/3rd-party/gmock-global"]
	path = src/3rd-party/gmock-global
	url = https://github.com/apriorit/gmock-global.git
[submodule "src/3rd-party/googletest"]
	path = src/3rd-party/googletest
	url = https://github.com/google/googletest.git
