[submodule "src/3d-party/gmockglobal"]
	path = src/3d-party/gmockglobal
	url = https://github.com/apriorit/gmockglobal.git
[submodule "src/3rd-party/gmockglobal"]
	path = src/3rd-party/gmockglobal
	url = https://github.com/apriorit/gmockglobal.git
[submodule "src/3rd-party/googletest"]
	path = src/3rd-party/googletest
	url = https://github.com/google/googletest.git
